.content {
    display: flex;
    padding: 20px;
    margin: 0 auto;
    width: 100%;
    
  }
  
aside {
    padding: 10px 20px;
    width: 20%;
    border-left: 4px solid rgb(153, 7, 7);
    display: flex;
    flex-direction: column;
   
    background-color: rgb(102, 107, 107);
  }
button {
    cursor: pointer;
    background-color: rgb(102, 4, 9);
    border: solid 1px #111;
    border-radius: 5px;
    display: block;
    padding: 10px;
    margin-bottom: 20px;
    font-weight: bold;
    font-size: 14px;
    color: aliceblue;
    width: max-content;
  }
  button.total{
    background-image: linear-gradient(to right, rgb(128, 0, 32), rgb(128, 0, 79), rgb(61, 3, 42));
  }
  .main{
      display: grid;
      grid-template-columns: auto auto auto;
      
  }
  .person{
      display: flex;
      flex-direction: column;
      border: 3px solid black;
      border-radius: 10px;
      padding: 8px;
      margin: 15px 15px;
  }
  .person img{
      border-radius: 50%;
  }
  .supervisor{
    border:3px double rgb(66, 189, 66);
  }
  .badge{
  width: 50px;
  height: 30px;
  }